.video {
    background-size: cover;
    position:relative;
}
.video div {
    font-size:10px;
    width: 100%;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.6);
    color:white;
    padding: 5px;
    position:absolute;
    box-sizing: border-box;
}