<style>
.myButton {
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}

#container { 
  height:100%; 
  text-align:center; 
}
#block { 
	margin:450px 0;
}

#carousel {
	width:100%;position: absolute;top: 0;bottom: 0;margin-top: 0px;margin-bottom: 0px;
}

#carousel_msg {
	width:100%;background-size: cover;
}

</style>

<div ng-controller="MainCtrl" data-ng-init="retrieve( 1 )">
    <ul rn-carousel rn-carousel-indicator="true" id="carousel">
        <li class="video" ng-repeat="item in words">
            <div style="background-image:url({{ item.img }});" id="carousel_msg">{{ item.title }}
							<div id="container">
								<div id="block">
		            	<a href="#" class="myButton">B1</a>
		            	<a href="#" class="myButton">B2</a>
								</div>
							<div>            
            </div>
        </li>
    </ul>
</div>




















