<table>
  <tr>
    <td></td>
  </tr>

  <tr>
    <td> 
        
        
        
        
        
        
        <table>
          <tr>
            <td>
              <table>
                <tr>
                  <td><table>
                    <tr>
                      <td>
                          <table>
                            <tr>
                              <td>
                                  <table>
                                    <tr>
                                      <td><img src="http://ckbch.org/_data/ckbch/file/m2_1/thumb/470570" /></td>
                                    </tr>
                                    <tr>
                                      <td><img src="../skin/board/movie_sermon_http/img/5px.gif" /></td>
                                    </tr>
                                </table></td>
                            </tr>
                            <tr>
                            
                              <td>                                  </td>
                            </tr>
                            <tr>
                              <td><img src="../skin/board/movie_sermon_http/img/5px.gif" /></td>
                            </tr>
                          </table>
                                              </td>
                      <td>
                          
                          <table>
                            <tr>
                              <td>

							  <table>
                                  <tr>
                                    <td><img src="../skin/board/movie_sermon_http/img/arr_01.gif" /></td>
                                    <td><div>제   목</div></td>
                                    <td><img src="../skin/board/movie_sermon_http/img/arr_03.gif" /></td>
                                  </tr>
                              </table>

							  </td>
                              <td>
								<table>
                                  <tr>
                                    <td><a href="../bbs/board.php?bo_table=m2_1≀id=470570">
                                      영생(Eternal Life)                                      </a> 
                                                                            
									  										<a onclick="window.open('http://ckbch.org/_chboard/bcast/audio.php?bo_table=m2_1&amp;ty=v&amp;wr_id=470570', '', 'scrollbars=no,resizeable=no,toolbar=no,status=no,top=100,left=100,width=741,height=472');"><img src="../skin/board/movie_sermon_http/img/video.gif" /></a>
									 									  									  </td>
                                  </tr>
                              </table></td>
                            </tr>

							<tr><td></td></tr>


										<tr>
                              <td><table>
                                  <tr>
                                    <td><img src="../skin/board/movie_sermon_http/img/arr_01.gif" /></td>
                                    <td><div>본   문</div></td>
                                    <td><img src="../skin/board/movie_sermon_http/img/arr_03.gif" /></td>
                                  </tr>
                              </table></td>
                              <td>요5:24</td>
                              <td>
																														</td>
                              <td>
																														</td>
                            </tr>
                            <tr><td></td></tr>

							<tr>
                              <td><table>
                                  <tr>
                                    <td><img src="../skin/board/movie_sermon_http/img/arr_01.gif" /></td>
                                    <td><div>설교자</div></td>
                                    <td><img src="../skin/board/movie_sermon_http/img/arr_03.gif" /></td>
                                  </tr>
                              </table></td>
                              <td>길영환 목사</td>
                              <td><table>
                                  <tr>
                                    <td><img src="../skin/board/movie_sermon_http/img/arr_01.gif" /></td>
                                    <td><div>설교일</div></td>
                                    <td><img src="../skin/board/movie_sermon_http/img/arr_03.gif" /></td>
                                  </tr>
                              </table></td>
                              <td>
                                2014-12-28</td>
                            </tr>
                            <tr><td></td></tr>


							                          </table>
                        <table>
                            <tr>
                              <td><table>
                                  <tr>
                                    <td><img src="../skin/board/movie_sermon_http/img/arr_01.gif" /></td>
                                    <td><div>내   용</div></td>
                                    <td><img src="../skin/board/movie_sermon_http/img/arr_03.gif" /></td>
                                  </tr>
                              </table></td>
                              <td><div>
                                [요] 5:24 내가 진실로 진실로 너희에게 이르노니 내 말을 듣고 또 나 보내신 이를 믿는 자는 영...                              </div></td>
                            </tr>
                            <tr>
                              <td><img src="../skin/board/movie_sermon_http/img/5px.gif" /></td>
                            </tr>
                          </table>
                                              </td>
                    </tr>
                  </table></td>
                </tr>
              </table></td>
          </tr>
          <tr>
            <td>
              
              </td>
          </tr>
        </table>
        
                <table>
          <tr>
            <td>
              <table>
                <tr>
                  <td><table>
                    <tr>
                      <td>
                          <table>
                            <tr>
                              <td>
                                  <table>
                                    <tr>
                                      <td><img src="http://ckbch.org/_data/ckbch/file/m2_1/thumb/470569" /></td>
                                    </tr>
                                    <tr>
                                      <td><img src="../skin/board/movie_sermon_http/img/5px.gif" /></td>
                                    </tr>
                                </table></td>
                            </tr>
                            <tr>
                            
                              <td>                                  </td>
                            </tr>
                            <tr>
                              <td><img src="../skin/board/movie_sermon_http/img/5px.gif" /></td>
                            </tr>
                          </table>
                                              </td>
                      <td>
                          
                          <table>
                            <tr>
                              <td>

							  <table>
                                  <tr>
                                    <td><img src="../skin/board/movie_sermon_http/img/arr_01.gif" /></td>
                                    <td><div>제   목</div></td>
                                    <td><img src="../skin/board/movie_sermon_http/img/arr_03.gif" /></td>
                                  </tr>
                              </table>

							  </td>
                              <td>
								<table>
                                  <tr>
                                    <td><a href="../bbs/board.php?bo_table=m2_1≀id=470569">
                                      하나님이 세상을 이처럼 사랑하사                                      </a> 
                                                                            
									  										<a onclick="window.open('http://ckbch.org/_chboard/bcast/audio.php?bo_table=m2_1&amp;ty=v&amp;wr_id=470569', '', 'scrollbars=no,resizeable=no,toolbar=no,status=no,top=100,left=100,width=741,height=472');"><img src="../skin/board/movie_sermon_http/img/video.gif" /></a>
									 									  									  </td>
                                  </tr>
                              </table></td>
                            </tr>

							<tr><td></td></tr>


										<tr>
                              <td><table>
                                  <tr>
                                    <td><img src="../skin/board/movie_sermon_http/img/arr_01.gif" /></td>
                                    <td><div>본   문</div></td>
                                    <td><img src="../skin/board/movie_sermon_http/img/arr_03.gif" /></td>
                                  </tr>
                              </table></td>
                              <td>요3:14-16</td>
                              <td>
																														</td>
                              <td>
																														</td>
                            </tr>
                            <tr><td></td></tr>

							<tr>
                              <td><table>
                                  <tr>
                                    <td><img src="../skin/board/movie_sermon_http/img/arr_01.gif" /></td>
                                    <td><div>설교자</div></td>
                                    <td><img src="../skin/board/movie_sermon_http/img/arr_03.gif" /></td>
                                  </tr>
                              </table></td>
                              <td>길영환 목사</td>
                              <td><table>
                                  <tr>
                                    <td><img src="../skin/board/movie_sermon_http/img/arr_01.gif" /></td>
                                    <td><div>설교일</div></td>
                                    <td><img src="../skin/board/movie_sermon_http/img/arr_03.gif" /></td>
                                  </tr>
                              </table></td>
                              <td>
                                2014-12-21</td>
                            </tr>
                            <tr><td></td></tr>


							                          </table>
                        <table>
                            <tr>
                              <td><table>
                                  <tr>
                                    <td><img src="../skin/board/movie_sermon_http/img/arr_01.gif" /></td>
                                    <td><div>내   용</div></td>
                                    <td><img src="../skin/board/movie_sermon_http/img/arr_03.gif" /></td>
                                  </tr>
                              </table></td>
                              <td><div>
                                [요] 3:14 모세가 광야에서 뱀을 든 것같이 인자도 들려야 하리니 [요] 3:15 이는 저를 믿는 자마...                              </div></td>
                            </tr>
                            <tr>
                              <td><img src="../skin/board/movie_sermon_http/img/5px.gif" /></td>
                            </tr>
                          </table>
                                              </td>
                    </tr>
                  </table></td>
                </tr>
              </table></td>
          </tr>
          <tr>
            <td>
              
              </td>
          </tr>
        </table>
        
                <table>
          <tr>
            <td>
              <table>
                <tr>
                  <td><table>
                    <tr>
                      <td>
                          <table>
                            <tr>
                              <td>
                                  <table>
                                    <tr>
                                      <td><img src="http://ckbch.org/_data/ckbch/file/m2_1/thumb/470568" /></td>
                                    </tr>
                                    <tr>
                                      <td><img src="../skin/board/movie_sermon_http/img/5px.gif" /></td>
                                    </tr>
                                </table></td>
                            </tr>
                            <tr>
                            
                              <td>                                  </td>
                            </tr>
                            <tr>
                              <td><img src="../skin/board/movie_sermon_http/img/5px.gif" /></td>
                            </tr>
                          </table>
                                              </td>
                      <td>
                          
                          <table>
                            <tr>
                              <td>

							  <table>
                                  <tr>
                                    <td><img src="../skin/board/movie_sermon_http/img/arr_01.gif" /></td>
                                    <td><div>제   목</div></td>
                                    <td><img src="../skin/board/movie_sermon_http/img/arr_03.gif" /></td>
                                  </tr>
                              </table>

							  </td>
                              <td>
								<table>
                                  <tr>
                                    <td><a href="../bbs/board.php?bo_table=m2_1≀id=470568">
                                      그를 믿는 자마다 멸망하지 않고                                      </a> 
                                                                            
									  										<a onclick="window.open('http://ckbch.org/_chboard/bcast/audio.php?bo_table=m2_1&amp;ty=v&amp;wr_id=470568', '', 'scrollbars=no,resizeable=no,toolbar=no,status=no,top=100,left=100,width=741,height=472');"><img src="../skin/board/movie_sermon_http/img/video.gif" /></a>
									 									  									  </td>
                                  </tr>
                              </table></td>
                            </tr>

							<tr><td></td></tr>


										<tr>
                              <td><table>
                                  <tr>
                                    <td><img src="../skin/board/movie_sermon_http/img/arr_01.gif" /></td>
                                    <td><div>본   문</div></td>
                                    <td><img src="../skin/board/movie_sermon_http/img/arr_03.gif" /></td>
                                  </tr>
                              </table></td>
                              <td>요3:16-21</td>
                              <td>
																														</td>
                              <td>
																														</td>
                            </tr>
                            <tr><td></td></tr>

							<tr>
                              <td><table>
                                  <tr>
                                    <td><img src="../skin/board/movie_sermon_http/img/arr_01.gif" /></td>
                                    <td><div>설교자</div></td>
                                    <td><img src="../skin/board/movie_sermon_http/img/arr_03.gif" /></td>
                                  </tr>
                              </table></td>
                              <td>길영환 목사</td>
                              <td><table>
                                  <tr>
                                    <td><img src="../skin/board/movie_sermon_http/img/arr_01.gif" /></td>
                                    <td><div>설교일</div></td>
                                    <td><img src="../skin/board/movie_sermon_http/img/arr_03.gif" /></td>
                                  </tr>
                              </table></td>
                              <td>
                                2014-12-14</td>
                            </tr>
                            <tr><td></td></tr>


							                          </table>
                        <table>
                            <tr>
                              <td><table>
                                  <tr>
                                    <td><img src="../skin/board/movie_sermon_http/img/arr_01.gif" /></td>
                                    <td><div>내   용</div></td>
                                    <td><img src="../skin/board/movie_sermon_http/img/arr_03.gif" /></td>
                                  </tr>
                              </table></td>
                              <td><div>
                                [요] 3:16 하나님이 세상을 이처럼 사랑하사 독생자를 주셨으니 이는 저를 믿는 자마다 멸망치 ...                              </div></td>
                            </tr>
                            <tr>
                              <td><img src="../skin/board/movie_sermon_http/img/5px.gif" /></td>
                            </tr>
                          </table>
                                              </td>
                    </tr>
                  </table></td>
                </tr>
              </table></td>
          </tr>
          <tr>
            <td>
              
              </td>
          </tr>
        </table>
        
                <table>
          <tr>
            <td>
              <table>
                <tr>
                  <td><table>
                    <tr>
                      <td>
                          <table>
                            <tr>
                              <td>
                                  <table>
                                    <tr>
                                      <td><img src="http://ckbch.org/_data/ckbch/file/m2_1/thumb/469283" /></td>
                                    </tr>
                                    <tr>
                                      <td><img src="../skin/board/movie_sermon_http/img/5px.gif" /></td>
                                    </tr>
                                </table></td>
                            </tr>
                            <tr>
                            
                              <td>                                  </td>
                            </tr>
                            <tr>
                              <td><img src="../skin/board/movie_sermon_http/img/5px.gif" /></td>
                            </tr>
                          </table>
                                              </td>
                      <td>
                          
                          <table>
                            <tr>
                              <td>

							  <table>
                                  <tr>
                                    <td><img src="../skin/board/movie_sermon_http/img/arr_01.gif" /></td>
                                    <td><div>제   목</div></td>
                                    <td><img src="../skin/board/movie_sermon_http/img/arr_03.gif" /></td>
                                  </tr>
                              </table>

							  </td>
                              <td>
								<table>
                                  <tr>
                                    <td><a href="../bbs/board.php?bo_table=m2_1≀id=469283">
                                      10대 1의 감사                                      </a> 
                                                                            
									  										<a onclick="window.open('http://ckbch.org/_chboard/bcast/audio.php?bo_table=m2_1&amp;ty=v&amp;wr_id=469283', '', 'scrollbars=no,resizeable=no,toolbar=no,status=no,top=100,left=100,width=741,height=472');"><img src="../skin/board/movie_sermon_http/img/video.gif" /></a>
									 									  									  </td>
                                  </tr>
                              </table></td>
                            </tr>

							<tr><td></td></tr>


										<tr>
                              <td><table>
                                  <tr>
                                    <td><img src="../skin/board/movie_sermon_http/img/arr_01.gif" /></td>
                                    <td><div>본   문</div></td>
                                    <td><img src="../skin/board/movie_sermon_http/img/arr_03.gif" /></td>
                                  </tr>
                              </table></td>
                              <td>눅17:11-19</td>
                              <td>
																														</td>
                              <td>
																														</td>
                            </tr>
                            <tr><td></td></tr>

							<tr>
                              <td><table>
                                  <tr>
                                    <td><img src="../skin/board/movie_sermon_http/img/arr_01.gif" /></td>
                                    <td><div>설교자</div></td>
                                    <td><img src="../skin/board/movie_sermon_http/img/arr_03.gif" /></td>
                                  </tr>
                              </table></td>
                              <td>길영환 목사</td>
                              <td><table>
                                  <tr>
                                    <td><img src="../skin/board/movie_sermon_http/img/arr_01.gif" /></td>
                                    <td><div>설교일</div></td>
                                    <td><img src="../skin/board/movie_sermon_http/img/arr_03.gif" /></td>
                                  </tr>
                              </table></td>
                              <td>
                                2014-11-23</td>
                            </tr>
                            <tr><td></td></tr>


							                          </table>
                        <table>
                            <tr>
                              <td><table>
                                  <tr>
                                    <td><img src="../skin/board/movie_sermon_http/img/arr_01.gif" /></td>
                                    <td><div>내   용</div></td>
                                    <td><img src="../skin/board/movie_sermon_http/img/arr_03.gif" /></td>
                                  </tr>
                              </table></td>
                              <td><div>
                                [눅] 17:11 예수께서 예루살렘으로 가실 때에 사마리아와 갈릴리 사이로 지나가시다가 [눅] 17:12 ...                              </div></td>
                            </tr>
                            <tr>
                              <td><img src="../skin/board/movie_sermon_http/img/5px.gif" /></td>
                            </tr>
                          </table>
                                              </td>
                    </tr>
                  </table></td>
                </tr>
              </table></td>
          </tr>
          <tr>
            <td>
              
              </td>
          </tr>
        </table>
        
                <table>
          <tr>
            <td>
              <table>
                <tr>
                  <td><table>
                    <tr>
                      <td>
                          <table>
                            <tr>
                              <td>
                                  <table>
                                    <tr>
                                      <td><img src="http://ckbch.org/_data/ckbch/file/m2_1/thumb/469260" /></td>
                                    </tr>
                                    <tr>
                                      <td><img src="../skin/board/movie_sermon_http/img/5px.gif" /></td>
                                    </tr>
                                </table></td>
                            </tr>
                            <tr>
                            
                              <td>                                  </td>
                            </tr>
                            <tr>
                              <td><img src="../skin/board/movie_sermon_http/img/5px.gif" /></td>
                            </tr>
                          </table>
                                              </td>
                      <td>
                          
                          <table>
                            <tr>
                              <td>

							  <table>
                                  <tr>
                                    <td><img src="../skin/board/movie_sermon_http/img/arr_01.gif" /></td>
                                    <td><div>제   목</div></td>
                                    <td><img src="../skin/board/movie_sermon_http/img/arr_03.gif" /></td>
                                  </tr>
                              </table>

							  </td>
                              <td>
								<table>
                                  <tr>
                                    <td><a href="../bbs/board.php?bo_table=m2_1≀id=469260">
                                      다니엘의 감사                                      </a> 
                                                                            
									  										<a onclick="window.open('http://ckbch.org/_chboard/bcast/audio.php?bo_table=m2_1&amp;ty=v&amp;wr_id=469260', '', 'scrollbars=no,resizeable=no,toolbar=no,status=no,top=100,left=100,width=741,height=472');"><img src="../skin/board/movie_sermon_http/img/video.gif" /></a>
									 									  									  </td>
                                  </tr>
                              </table></td>
                            </tr>

							<tr><td></td></tr>


										<tr>
                              <td><table>
                                  <tr>
                                    <td><img src="../skin/board/movie_sermon_http/img/arr_01.gif" /></td>
                                    <td><div>본   문</div></td>
                                    <td><img src="../skin/board/movie_sermon_http/img/arr_03.gif" /></td>
                                  </tr>
                              </table></td>
                              <td>단6:10</td>
                              <td>
																														</td>
                              <td>
																														</td>
                            </tr>
                            <tr><td></td></tr>

							<tr>
                              <td><table>
                                  <tr>
                                    <td><img src="../skin/board/movie_sermon_http/img/arr_01.gif" /></td>
                                    <td><div>설교자</div></td>
                                    <td><img src="../skin/board/movie_sermon_http/img/arr_03.gif" /></td>
                                  </tr>
                              </table></td>
                              <td>길영환 목사</td>
                              <td><table>
                                  <tr>
                                    <td><img src="../skin/board/movie_sermon_http/img/arr_01.gif" /></td>
                                    <td><div>설교일</div></td>
                                    <td><img src="../skin/board/movie_sermon_http/img/arr_03.gif" /></td>
                                  </tr>
                              </table></td>
                              <td>
                                2014-11-09</td>
                            </tr>
                            <tr><td></td></tr>


							                          </table>
                        <table>
                            <tr>
                              <td><table>
                                  <tr>
                                    <td><img src="../skin/board/movie_sermon_http/img/arr_01.gif" /></td>
                                    <td><div>내   용</div></td>
                                    <td><img src="../skin/board/movie_sermon_http/img/arr_03.gif" /></td>
                                  </tr>
                              </table></td>
                              <td><div>
                                [단] 6:10 다니엘이 이 조서에 어인이 찍힌 것을 알고도 자기 집에 돌아가서는 그 방의 예루살렘...                              </div></td>
                            </tr>
                            <tr>
                              <td><img src="../skin/board/movie_sermon_http/img/5px.gif" /></td>
                            </tr>
                          </table>
                                              </td>
                    </tr>
                  </table></td>
                </tr>
              </table></td>
          </tr>
          <tr>
            <td>
              
              </td>
          </tr>
        </table>
        
        
                                  1   <a href="./board.php?bo_table=m2_1&amp;page=2">2</a>  <a href="./board.php?bo_table=m2_1&amp;page=3">3</a>  <a href="./board.php?bo_table=m2_1&amp;page=4">4</a>  <a href="./board.php?bo_table=m2_1&amp;page=5">5</a>  <a href="./board.php?bo_table=m2_1&amp;page=6">6</a>  <a href="./board.php?bo_table=m2_1&amp;page=7">7</a>  <a href="./board.php?bo_table=m2_1&amp;page=8">8</a>  <a href="./board.php?bo_table=m2_1&amp;page=9">9</a>  <a href="./board.php?bo_table=m2_1&amp;page=10">10</a>  <a href="./board.php?bo_table=m2_1&amp;page=11"><img src="../skin/board/movie_sermon_http/img/next.gif" /></a>  <a href="./board.php?bo_table=m2_1&amp;page=39"><img src="../skin/board/movie_sermon_http/img/end.gif" /></a>            </td>
  </tr>

  <tr>
    <td>
      
      <table>
        <tr>
          <td><table>
              <tr>
                                <td>
                  </td>
              </tr>
          </table></td>
          <td> </td>
          <td>          </td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td>
        
        
    </td>
  </tr>
</table>